.App {
  text-align: center;
  padding: 20px;
  color: white;
 
}


.navbar {
  display: flex;
  background-color: #5d1212;
  border-radius: 20px;
}

.navbar ul {
  list-style: none;
  display: flex;
}

.navbar li {
  margin-right: 60px;
}

.navbar a {
  text-decoration: none;
  color: #f9d8d8;
  font-weight: bold;
}

 h1,p{
  color: #1f1d1d;
}
.navbar a:hover {
  color: #f31a0b;
}
.image-container{
  display: flex;
  justify-content: center;
  margin: 70px;
}
.image-container p{
  color: #080808;
  font-weight: 500;
}
.image-item{
  border:2px solid #080808;
   margin: 8px;
  padding: 15px;
}

.image-container img{
 
  width: 200px;
  height: 200px;
}
.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.footer {
  background-color: #080808;
  text-align: center;
  margin-top: auto;
}
.footer p{
  color: white;
}

